<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
      <div class='navbar-nav ml-auto'>
        <% if (username) { %>
        <form action='/logout' method="POST" class='nav-item form-inline ml-auto'>
          <label for="logout" class="nav-text text-muted" style="margin-right: 20px !important">Logged In As: <%= username %></label>
          <button name='logout' class='btn btn-outline-light' type='submit'>LOGOUT</button>
        </form>
        <% } else { %>
        <form action="/login" method="POST" class='nav-item form-inline ml-auto'>
          <label for="username" class='sr-only'>Username:</label>
          <input name='username' type="text" class='form-control nav-item' placeholder="USERNAME">
          <button class='btn btn-outline-light' type='submit'>LOGIN</button>
        </form>
        <% } %>
      </div>
    </div>
  </nav>
  <br>
</header>